@media only screen and (min-width: 992px) {
    .inputForm{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inputForm .rows{
        width: 50%;
    }
}