@media screen and (min-width: 1024px) {
    .introSection {
        height: 45vh; /* Adjusted for larger screens */
        font-size: 3rem; /* Adjusted for larger screens */
        padding: 30px; /* Adjusted for larger screens */
    }

    .pd {
        padding-top: 6vh; /* Adjusted for larger screens */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actions {
        display: flex;
        width: 50%;
        margin: 0 auto;
        border-radius: 10px;
        height: 18vh; /* Adjusted for larger screens */
        background-color: blue;
        justify-content: space-between;
        font-size: 2.5rem; /* Adjusted for larger screens */
        align-items: center;
        background: rgba(104, 124, 103, 0.16);
        padding: 30px; /* Adjusted for larger screens */
        margin-bottom: 0.5vh;
    }

    .mb {
        margin-bottom: 10vh; /* Adjusted for larger screens */
    }

    .icon-style {
        font-weight:700 !important;
        color:#3895d3 !important;
        font-size:60px !important; /* Adjusted for larger screens */
    }

    .rviewed {
        font-size: 2rem; /* Adjusted for larger screens */
        display: flex;
        width: 100%;
        justify-content: center;
    }
    

    .introSectionviewed {
        height: 45vh; /* Adjusted for larger screens */
        font-size: 3rem; /* Adjusted for larger screens */
        padding: 30px; /* Adjusted for larger screens */
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .xyx{
        width: 50%;
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .w100 {
        width: 100%;
    }

    .tutorialsHome {
        display: flex;
        align-items: center;
        font-size: 1.75rem; /* Adjusted for larger screens */
        padding-left: 24px; /* Adjusted for larger screens */
        padding-left : 15%; /* Adjusted for larger screens */
    }
}


@media screen and (max-width: 480px) {
.introSection{
    height: 35vh;
    font-size: 2.25rem;
    padding: 20px;
}
.pd{
    padding-top: 4vh;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}
.actions{
    display: flex;
    height: 13.67vh;
    background-color: blue;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    background: rgba(104, 124, 103, 0.16);
    padding: 20px;
    margin-bottom: 0.5vh;
}

.mb{
    margin-bottom: 8.5vh;
}
.icon-style{
    font-weight:700 !important;
    color:#3895d3 !important;
    font-size:40px !important;

}
.rviewed{
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.introSectionviewed{
    height: 35vh;
    font-size: 2.25rem;
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.xyx{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.w100{
    width: 100%;
    display: flex;
   
}

.tutorialsHome {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding-left : 13%;

}

}